<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">
	<title>Vue.Js Demo</title>
	<link rel="stylesheet" type="text/css" href="app.css">
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<script src="app.js"></script>
</head>
<body>
	<div id="app">
		<p v-if="isLoading">Loading</p>
		<h2>Shopping Cart ({{cart.length}} item)</h2>
		<p v-if="!cart.length">No item in cart.</p>
		<div class="cart">
			<div class="item" v-for="(item,index) in cart">
				<div class="image">
					<a v-bind:href="item.url">
						<img v-bind:src="item.image">
					</a>
				</div>
				<div class="info">
					<h4>{{item.name}}</h4>
					<p class="seller">by {{item.seller}}</p>
					<p class="status available" v-if="item.isAvailable"></p>
					<p class="shipping" v-if="item.isEligible">Eligible for FREE Shipping & FREE Returns</p>
					<a href="#" v-on:click="removeFromCart(index)">Delete</a>
					<a href="#" v-on:click="saveForLater(index)" class="secondary" >Save For Later</a>
				</div>
			</div>
		</div>
		<h2>Saved for later ({{saved.length}} item)</h2>
		<p v-if="!saved.length">No item in Saved for later.</p>
		<div class="cart">
			<div class="item" v-for="(item,index) in saved">
				<div class="image">
					<a v-bind:href="item.url">
						<img v-bind:src="item.image">
					</a>
				</div>
				<div class="info">
					<h4>{{item.name}}</h4>
					<p class="seller">by {{item.seller}}</p>
					<p class="status available" v-if="item.isAvailable"></p>
					<p class="shipping" v-if="item.isEligible">Eligible for FREE Shipping & FREE Returns</p>
					<a href="#" v-on:click="removeFromSavedList(index)">Delete</a>
					<a href="#" class="secondary" v-on:click="moveToCart(index)" >Move to cart</a>
				</div>
			</div>
		</div>
	</div>
</body>
</html>